.PhoneBook #header{
    width: 70%;
    margin: 0 auto;
}

.PhoneBook #header #poster {
    height: 100px;
    background-color: #6395EC;
}

.PhoneBook #header #poster h1 {
    padding: 20px;
}

.PhoneBook #nav { 
    height: 60px;
    background-color: lightgrey;
}

.PhoneBook #nav ul {
    width: 30%;
    float: left;
    margin: 15px 0px;
    padding: 0;
    font-size: 20px;
}


.PhoneBook #nav ul li {
    display: inline;
    margin-right: 20px;
}

.PhoneBook #nav form {
    float: right;
    margin: 15px 0px;
    padding: 0;
}

.PhoneBook #nav form input {
    border-radius: 8px;
    padding-left: 5px;
    border: 1px solid #F8F9EB;
}

.PhoneBook #nav form button {
    color: #7CB389;
    border-radius: 9px;
    border: 1px solid;
    margin-right: 10px;
}

.PhoneBook #body {
    width: 70%;
    margin: 15px auto;
}

#body table { 
    text-align: left;
    border-collapse: collapse;
}


#body table th, #body table td {
    border: 1px solid;
  }

.contact-row {
    display: inline-block;
}

#contact-submit {
    margin-top:10px;
}

.div-contacts {
    padding: 10px;
    background-color: #d3d3d3;
    margin-top:10px;
}

#search-contact .div-contacts {
    padding: 0;
}
#search-contact .div-contacts h1 {
    margin: 0;
}

.fa-pen {
    color:#6395EC;
}
.fa-trash-can {
    color:red;
}

th, td {
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}